.contact-form{
    height: 100%;

    .selection{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1%;

        #mail{
            .generalText;
            background-color: @pokemon-super-cream;
        }
    }

    .contact-form-container{
        width: 100%;
        background-image: url("../img/blueskymail.png");
        height: 72rem;
        background-repeat: no-repeat;
        background-position: center;

        @media @tablet{
            background-size: 90%;
        }

        @media @mobile{
            background-size: 100%;
        }

        .contact-form-text{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            form{
                .generalText;
                display: flex;
                flex-direction: column;
                align-items: center;

                input{
                    .generalText;
                    background-color: @pokemon-super-cream;
                }
                textarea{
                    .generalText;
                    background-color: @pokemon-super-cream;
                }
        
                button{
                    .generalText;
                    width: 100%;
                    height: 100%;
                    border: 5px solid @pokemon-dark;
                    background-color: @pokemon-red;
                    color: @pokemon-white;
                    border-radius: 10%;

                    &:hover{
                        background-color: @pokemon-white;
                        color: @pokemon-red;
                        //a{
                            //color: @pokemon-red;
                        //}
                    }
                }
                
            }
        }
    }
}