.contact-form{
    height: 100%;

    .contact-form-container{
        width: 100%;
        background-image: url("../img/blueskymail.png");
        height: 72rem;
        background-position: top;
        background-repeat: no-repeat;
        position: relative;

        .contact-form-text{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            form{
                .generalText;
                display: flex;
                flex-direction: column;
                align-items: center;

                input{
                    .generalText;
                    background-color: @pokemon-super-cream;
                }
                textarea{
                    .generalText;
                    background-color: @pokemon-super-cream;
                }
        
                button{
                    .generalText;
                    width: 100%;
                    height: 100%;
                    border: 5px solid @pokemon-dark;
                    background-color: @pokemon-red;
                    color: @pokemon-white;
                    border-radius: 10%;
                }
                
            }
        }
    }
}