.home-content-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;

    .home-content-text{
        width: 50%;
    }

    .home-content-img{
        width: 50%;
    }
}