//Variables

//Color pointers
@nav-bg: @pokemon-red;
@nav-font: @pokemon-white;
@nav-border: @pokemon-dark;

//@main-bg: @pokemon-cream;
@main-bg: @pokemon-cream;
@main-border: @pokemon-red;
@main-text: @pokemon-dark;

@box-bg: @pokemon-super-cream;

@footer-bg: @pokemon-red;
@footer-font: @pokemon-cream;
@footer-border: @pokemon-dark;

// Color Vars
@pokemon-red: #FF0000;
@pokemon-white: #FFFFFA;
@pokemon-cream: #FFFFF5;
@pokemon-dark: #101001;
@pokemon-super-cream: #FFFFF0;

//Mobile Var
@tablet: ~"screen and (max-width: 800px)";
@mobile: ~"screen and (max-width: 500px)";